html,
body,
h1,
h2,
h3,
h4,
#app {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
ul {
    margin: 0;
    padding: 0;
}
body {
    min-width:1200px;
	/* overflow:auto; */
}
a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
p {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
i {
    font-style: normal;
}
li {
    list-style: none;
}
div {
    /* 设置文字无法选中 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.el-input__prefix {
    display: inline-block;
    width: 24px;
}
/* 改变级联选择器默认样式(去除父子节点分离后产生的圆点) */
.el-cascader-panel .el-radio {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 10px;
}
.el-cascader-panel .el-radio__input {
    visibility: hidden;
}
/* 修改浏览器下拉条样式 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #fff;
}
 ::-webkit-scrollbar-track {
    border-radius: 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-image: linear-gradient(135deg, #3C8DBC 0%, #eee 50%, #3C8DBC 100%);
    transition: all .2s;
    border-radius: 0.25rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(95, 95, 95, 0.7);
}
/* 登陆界面 */
.login_container .el-tabs__item {
    box-sizing: border-box;
    height: 16px;
    line-height: 16px;
    padding: 0 20px;
    margin: 16px 0;
    font-size: 16px;
    font-weight: 500;
}
.login_container .el-tabs__header {
    margin-bottom: 30px;
}
.el-tabs__nav {
    margin: 0 20px;
}
.login_container .el-tabs__active-bar {
    margin-left: -20px;
    width: 104px !important;
}
.login_container .el-form-item .el-form-item__content {
    height: 50px;
    line-height: 50px;
}
.login_container .el-input__inner {
    height: 50px;
}

/* 注册页面 */
/* 弹出框样式 */
.el-dialog {
    width: 700px;
    height: 600px;
    border: 0;
    border-radius: 6px;
}
.el-dialog__header {
    padding: 15px 20px;
    line-height: 28px;
    background-color: #3C8DBC;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.el-dialog__header span {
    color: #fff;
    font-size: 18px;
}
.el-dialog__header .el-icon-close:before {
    color: #fff;
    font-size: 20px;
}
.el-dialog__body {
    padding: 20px;
    box-sizing: border-box;
    height: 462px;
    overflow: auto;
}
.el-dialog__footer {
    padding: 20px;
    text-align: center;
}
.el-dialog__footer .el-button {
    margin: 0 30px;
    width: 80px;
}
/* home界面修改密码弹出框 */
.home_contaner .el-dialog {
    width: 489px;
    height: 446px;
    font-weight:400;
    color:rgba(0,0,0,1);
    line-height:60px;
}
.home_contaner .el-form-item__content {
    position: relative;
    padding-left: 80px;
    margin-right: 30px;
}
.home_contaner .el-form-item p {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 70px;
    text-align: right;
}
.home_contaner .el-form-item .el-input {
    width: 299px;
}
/* 菜单界面弹出框 */
.menuManage_contaner .el-dialog {
    width: 500px !important;
    height: 500px;
}
.menuManage_contaner .el-dialog__body {
    height: 360px !important;
    overflow: visible;
}
.menuManage_contaner .el-form-item__content {
    padding-left: 100px;
}
.menuManage_contaner .el-form-item p {
    width: 90px;
}
/* 表单校验提示样式 */
.el-form-item__error {
    font-weight: 400;
    font-size: 12px;
    margin-left: 5px;

}
.home_contaner .el-form-item .el-form-item__error {
    padding-left: 82px;
}
.register_container .el_form_agree .el-form-item__error {
    position: absolute;
    top: 10px;
    left: 220px;
}
.home_contaner .el-header .el-input {
    width: 328px;
}
.home_contaner .el-dialog__body {
    height: 308px;
}
.home_contaner .el-form-item__content a {
    color: #409EFF;
}
/* home页面 */
.home_contaner .el-header {
    height: 50px !important;
    padding: 0;
}
/* 通知消息按钮样式 */
.home_contaner .el-badge__content {
    top: 10px !important;
    border: 0px;
}
.el-icon-bell::before {
    color: #fff;
}
/* 侧边栏箭头图标颜色 */
.el-icon-arrow-down:before {
    color: #fff;
    font-size: 16px;
}
.el-submenu {
    box-sizing: border-box;
}
/* 侧边栏文字 */
.el-submenu__title {
    font-size: 16px;
}

/* 导航条样式 */
.el-tabs__nav {
    margin: 0;
}
.el-tabs__nav-prev {
    margin-right: 20px;
    height: 40px;
}
.el-tabs__nav-next {
    margin-left: 20px;
    height: 40px; 
}
.el-tabs__nav-prev i,.el-tabs__nav-next i{
    font-size: 20px;
}
.el-tabs--border-card {
    height: 100%;
    background-color: #f4f4f4;
    border: 0;
}
.el-tabs__header {
    padding:0 40px 0 0;
}
.el-tabs--border-card>.el-tabs__content {
    padding: 15px;
}
.el-tabs--border-card>.el-tabs__header {
    background-color: #fff;
}
/* 未选中标签页样式 */
.el-tabs--border-card>.el-tabs__header .el-tabs__item {
    padding: 0 !important;
    background-color: #fff;
    border: 1px solid rgba(238,238,238,1);
}
/* 选中标签页样式 */
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
    padding: 0 !important;
    color: black;
    background-color: rgba(238,238,238,1);
    border-bottom: 1px solid #3483b0;
}
.el-tabs--border-card>.el-tabs__content {
    flex: 1;
    background-color: #f4f4f4;
}
.el-main .el-icon-close:before {
    padding: 5px;
}
/* 组件内容部分样式 */
.content {
    width: 1682.1px;
    height: 100%;
    background-color: #f4f4f4;
}
.el-table {
    margin-top: 19px;
}
.el-table th {
    background-color: #F8F8F8;
}
.el-table th>.cell {
    font-family:MicrosoftYaHeiLight;
    font-weight:bold;
    color:rgba(102,102,102,1);
}
/* 表格单选按钮label值隐藏 */
.el-table .el-radio__label {
    display: none; 
}
.el-table__indent {
    display: none;
}
/* 物料管理(物料分类)表单样式 */
.matterCategory_content .el-table-column a {
    display: inline-block;
    width: 16px !important;
    height: 16px !important;
    font-size: 16px;
}
.matterDefine_content .el-table__row .el-table_1_column_2 {
    padding: 6px 12px !important;
}
/* 物料定义表单样式 */
.matterDefine_content .el-dialog {
    margin-top: 50px !important;
    margin-bottom: 0;
    width: 800px;
    height: 800px;
}
.matterDefine_content .el-dialog .el-dialog__body {
    width: 100%;
    height: 642px;
}
.matterDefine_content .el-form .el-input {
    width: 250px !important;
}
/* 富文本样式 */
.ql-toolbar .ql-snow {
    padding: 0;
}
.matterDefine_content .el-dialog {
    line-height: 21px;
}
.ql-container {
    height: 80px !important;
}
.el-textarea__inner {
    height: 80px;
}
.matterDefine_content .el-dialog__footer {
    text-align: right;
}

/* 物料分类 */
.matterCategory_content .el-dialog {
    height: 420px;
}
.matterCategory_content .el-dialog__body {
    margin-bottom: -40px;
    height: 310px;
}
.matterCategory_content .el-textarea {
    padding: 0;
    width: 300px;
    min-height: 50px;
}
.matterCategory_content .el-textarea__inner {
    height: 60px !important;
}
/* 合同管理 */
/* 合同列表 */
.contractManage_content .el-dialog {
    margin-top: 50px !important;
    margin-bottom: 0;
    height: 880px;
    width: 920px;
}
.contractManage_content .el-dialog section {
    width: 830px;
}
.contractManage_content .el-dialog__body {
    height: 730px !important;
}
.contractManage_content .el-form .el-input {
    width: 750px !important;
}
.contractManage_content .el-textarea {
    padding: 0;
    width: 100%;
    min-height: 50px;
}
.contractManage_content .el-dialog__footer {
    text-align: right;
}
.contractManage_content .el-dialog {
    line-height: 21px;
}
.contractManage_content .contact .el-input {
    margin-bottom: 10px;
    width: 270px !important;
    height: 34px !important;
}
.contractManage_content .contact .el-input__inner {
    height: 34px;
}
.contractManage_content .el-table {
    border: 0;
}
.contractManage_content .el-table::before {
    height: 0;
}
.contractManage_content .el-table--border::after {
    height: 0;
}
.contractManage_content .shopInfoBox .el-dialog {
    margin-top: 200px !important;
    margin-bottom: 0;
    height: 400px;
    width: 800px;
}
.contractManage_content .shopInfoBox .el-dialog__body {
    margin-bottom: -40px;
    height: 300px !important;
}
.contractManage_content .shopInfoBox .el-input {
    width: 250px !important;
}
.contractManage_content .shopInfoBox .el-dialog__footer {
    text-align: center;
}